# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
.env
*.env

# Django
db.sqlite3
staticfiles/
media/

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db
